@using AlaQAndA.WebApp.Models
@model IEnumerable<Question>

@if (Model != null && Model.Count() != 0)
{
    <div class="container row">
        <table class="table table-striped" style="width: 100%;">
            <tr>
                <th style="padding: 5px; border-bottom: solid 1px black;">Title</th>
                <th style="padding: 5px; border-bottom: solid 1px black;">User</th>
                <th style="padding: 5px; border-bottom: solid 1px black;">Date</th>
            </tr>
            @foreach (var q in Model)
            {
                <tr>
                    <td style="padding: 5px; border-bottom: solid 1px black;"><a href="~/questions/details/@q.ID">@q.Title</a></td>
                    <td style="padding: 5px; border-bottom: solid 1px black;">Me Myself and I</td>
                    <td style="padding: 5px; border-bottom: solid 1px black;">1 minute ago</td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <p>No questions solved.</p>
}

@using (Html.BeginUmbracoForm("New", "Questions"))
{
    <h2>New question and solution</h2>

    <input type="text" name="title" placeholder="Title of your question" class="form-control"/>
    <textarea placeholder="Content of your question" rows="10" name="content"  class="form-control" style="max-width: 100%;"></textarea>
    <button class="btn btn-lg btn-primary btn-block" style="width: 100%; padding: 15px; border: none; background-color: #e7afa3">Ask question</button>
}
